<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>Scenario1</h1>
 <app-scenario1component1></app-scenario1component1>
 <h1>Scenario2</h1>
 <app-scenario2component1></app-scenario2component1>
 <h1>Scenario3</h1>
<app-scenario3component1></app-scenario3component1>
<h1>Scenario4</h1>
<app-scenario4parent></app-scenario4parent>
<h1>Scenario5</h1>
<app-scenario5grandparent></app-scenario5grandparent>
<h1>Scenario6</h1>
<app-scenario6parent></app-scenario6parent>
<router-outlet></router-outlet>
